.navbar{
    display: 100%;
    background: brown !important;
    box-shadow: 0px 5px 5px rgb(248, 169, 155);
}

.navbar-brand{
    color: #ffffff !important;
}

.nav-link{
    color: #ffffff !important;
    text-transform: uppercase;
}

.nav-link:hover{
    background: #ffffff;
    border-radius: 5px;
    padding-left: 20px;
    color: brown !important;
    font-weight: 600;
}

.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar{
    width: 80%;
}

.social{
    display: flex;
 
}

.social > a{
    margin-left: 30px;
    font-size: 25px;
    color: #fff;
}

.social > a.fa-facebook:hover{
color: rgb(20, 63, 182);
}

.social > a.fa-twitter:hover{
    color: rgb(73, 110, 212);
    }

    .social > a > .fa-instagram:hover{
        color: rgb(212, 73, 193);
        }
        .social > a > .fa-youtube:hover{
            color: red;
            }

            .navbar-toggler{
                background: #fff !important;
            }
@media (max-width:1200px){
    .social{
        display: none;
    }
}